#customer-widget {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    font-family: 'Unbounded', sans-serif;
}

#customer-btn {
    width: 150px;
    height: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    cursor: pointer;
}

#customer-popup {
    display: none; /* 預設隱藏 */
    position: absolute;
    bottom: 60px; /* 與按鈕距離 */
    right: 0;
    width: 220px;
    border-radius: 20px;
}
